.containair{
    width: 80%;
    margin: auto;
    background-color: beige;
    height: 90vh;
    padding-top: 40px;
}
table, td, th {
    border: 1px solid;
    border-collapse: collapse;
    border-color: black;
} 
table{
    width: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}
td,th {
    padding: 15px;

}
.cash {
    text-align: center;
}

th{
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
}

tr:hover {
    background-color: darkgray;

}
caption {
    background-color:rgba(255, 166, 0, 0.84);
    margin: auto;
    width: 30%;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color:white;
margin-bottom: 30px;
border-radius:10px;
}
